/* Background image */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: 
        linear-gradient(hsla(0, 3%, 63%, 0.4), rgba(0,0,0,0.4)),
        url("C:/Users/deoch/Downloads/Vande-Bharat-7.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Header */
header {
    background-color: rgba(10, 79, 163, 0.85);
    color: white;
    padding: 15px;
    text-align: center;
}

/* Main container */
.container {
    width: 60%;
    margin: 30px auto;
}

/* Glassmorphism form */
.glass {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    color: #fff;
}

/* Available Train Glass Box */
.available-train-box {
    display: none; /* Show using JavaScript */
    margin: 30px auto;
    width: 60%;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    padding: 25px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    color: rgb(15, 130, 15);

    animation: fadeUp 1s;
}

.train h2 {
    margin-top: 0;
}

/* Inputs */
label {
    font-weight: bold;
}

input, select {
    width: 95%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 8px;
    border: 1px solid hwb(0 6% 70% / 0.8);
    outline: none;
}

/* Buttons */
button {
    width: 100%;
    background-color: #ff6600;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #e65c00;
}

/* Animation */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.available-train-box {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9); /* semi-transparent white */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    text-align: left;
}

.available-train-box h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #ff6600;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(10, 79, 163, 0.85);
    color: white;
    margin-top: 40px;
}
